In [2]:
a=6
if a%2==0:
    print('even')
else:
    print('odd')

even

In [4]:
#short way for the if else statements
print('even') if a%2==0 else print('odd')

even

In [9]:
x=10
result='positive' if x>0 else 'Negative'
print(result)

positive

In [11]:
age=17
category='Adult' if age>=18 else 'Minor'
print(category)

Minor

In [21]:
#nested if else example
b=5
c='Positive' if b>0 else 'Negative' if b<0 else 'zero'
print(c)

Positive

In [23]:
#short way of the for loops 
l=[1,2,3,4,5]
[2*x  for x in l]

[2, 4, 6, 8, 10]

In [24]:
[x for x in l if x%2==0]

[2, 4]

In [25]:
[x for x in l if x%2!=0]

[1, 3, 5]

In [26]:
d1={'Ram':[1,2,3,4,5],'Raju':[5,6,7,8,8],'Ramu':[4,3,5,6,8]}
d1

{'Ram': [1, 2, 3, 4, 5], 'Raju': [5, 6, 7, 8, 8], 'Ramu': [4, 3, 5, 6, 8]}

In [29]:
#average of the students
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 3.0, 'Raju': 6.8, 'Ramu': 5.2}

In [33]:
#write a user defined function to compute avereage
#Define function(resuable fundtion)
def mean_value(given_list):
    total=sum(given_list)
    average_value=total/len(given_list)
    return average_value

In [34]:
#call the function
l=[1,2,3,4,5,6,6,7,8]
mean_value(l)

4.666666666666667

In [42]:
for i,j in d1.items():
    a=sum(j)/len(j)
    print(i,a)

Ram 3.0
Raju 6.8
Ramu 5.2

In [15]:
#function with variable number of argument
def avg_value(*n):#here * means multiple values if don't put the * then it will take one element
    l=len(n)
    average=sum(n)/l
    return average

In [16]:
avg_value(10,20,30,40,50,60)

35.0

In [19]:
#lamda functions
greet = lambda name : print(f'Good morning {name}')#creating a function

In [22]:
#calling the function
greet('vishnu')
a=input('Enter your name')
greet(a)

Good morning vishnu

Enter your name gopi

Good morning gopi

In [24]:
#write a lambda functon to print the product of the three numbers
product=lambda a,b,c: a*b*c
a=int(input("Enter a number: "))
b=int(input('Enter a number: '))
c=int(input('Enter a number: '))
product(a,b,c)

Enter a number:  2
Enter a number:  2
Enter a number:  2

8

In [28]:
even=lambda l: [x for x in l if x%2==0]
list1=[1,2,3,4,5,6,7,8,9,10]
even(list1)

[2, 4, 6, 8, 10]

In [30]:
max1=lambda a,b: f'Maximum number is {a}'if a>b else f'{b} is Maximum'
a=int(input())
b=int(input())
max1(a,b)

 10
 6

'Maximum number is 10'

In [32]:
even1=lambda c: print('True') if c%2==0 else print('False')
c=int(input())
even1(c)

 9

False